html {
    height: 99.5%;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a{
    display: inline-block;
    color: inherit;
    padding: 5px;
}

a:visited {
    color: inherit;
}

a:hover { 
    color: #aaaaaa;
}

div#basicNav{
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0px auto;
}