html {
    height: 99.5%;
    padding: 0px;
    margin: 0px;
}

body {
    color: #EFEFEF;
    background-color: #111111;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

div {
    border-style: none;
    border-width: 1px;
    border-color: rgba(125, 200, 255, 1);
}

/*specific css*/
div#controlConsole{
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 100%;
    width: 20%;
    border-style: none none none solid;
}

span#dataFeed{
    display: inline-block;
    width: 100%;
}

div#pageInfo{
    font-family: 'Orbitron', sans-serif;
    z-index: 10;
    border-style: solid none none none;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

/*SVG stuff*/
svg#dataDisplay{
    position: relative;
    width: 80%;
    height: 100%;
}