html {
    height: 99.5%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

div {
    border-style: none;
    border-width: 1px;
    border-color: #cccccc;
}

a{
    color: inherit;
}

a:hover{
    color: inherit;
}

/*layout stuff*/
div.wrapper{
    position: relative;
    width: 100%;
}

.canvas {
    position: absolute;
    height: 100%;
    width: 75%;
}

div#controlConsole{
    position: absolute;
    right: 0px;
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    border-style: none none none solid;
}

div#controlButtons{
    width: 100%;
    height: 20%;
    padding: 10px 5px 10px 10px;
    box-sizing: border-box;
    border-style: none none solid none;
    text-align: center;
}

div#appInfo{
    height: 60%;
}

div#pageInfo{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    z-index: 10;
    border-style: solid none none none;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
}

/*svg stuff*/
object, img#pausePlay{
    max-width: 45%;
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 100%;
}

/* Other Generalaties */
div.ui-display{
    padding: 3px;
    text-align: center;
    border-width: 1px;
    border-style: solid none;
    border-color: #cccccc;
}

span.text-feed{
    box-sizing: border-box;
    display: inline-block;
    max-width: 50%;
    min-width: 50%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
}
